<section class="back">
    <section class="background">
        <div class="header">
            <br><br><br>
            <h2>Hotel Booking Application</h2>
            <h3> </h3>
        </div>
    </section>

    <section class="description">
        <div class="mid">
            <h3>Weclome to our web app!</h3>
            <p> Our web app provides you online hotel bookings all over the world. Book budget and luxury rooms at best price 
                from leading hotels. You can browse hotels and book your rooms through this app, feel free to browse around, and let us know your feedback. </p>
        </div>
    </section>
    <section class="destinations">
        <ul class="grid">
            <li class="large"
                style="background-image:url(https://cdn.pixabay.com/photo/2017/03/19/01/43/living-room-2155376_960_720.jpg);">
            </li>
            <li class="small"
                style="background-image:url(https://cdn.pixabay.com/photo/2017/08/01/12/43/kitchen-2565105_960_720.jpg);">
            </li>
            <li class="small"
                style="background-image:url(https://images.unsplash.com/photo-1541123356219-284ebe98ae3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);">
            </li>
            <li class="large"
                style="background-image:url(https://images.unsplash.com/photo-1564540579594-0930edb6de43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80); ">
            </li>
            <li class="large"
                style="background-image:url(https://images.unsplash.com/photo-1534349762230-e0cadf78f5da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
            </li>
            <li class="small"
                style="background-image:url(https://images.unsplash.com/photo-1533090161767-e6ffed986c88?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);">
            </li>
        </ul>
    </section>

</section>
